{% extends 'base.htm' %}


{% block content %}

<form action="." method="POST" >
    {% csrf_token %}
    {% for question in questions  %}
        <div style="padding: 2cm 0cm 0cm 2cm;">
            <p> {{ question.question_text }}</p>
               <input type="hidden" name="{{question.id}}">
        </div>
        
            <div  style="padding: 1cm 2cm 1cm;" >
                {% for choice in question.choice_set.all  %}
                <input type="radio" name="{{question.id}}" value="{{choice.id}}">
                <label >{{ choice.choice_text }}</label>
            </div>
        {% endfor %}
    {% endfor %}            
                <input type="submit" value="Submit" class="btn btn-primary">
</form>
    
{% endblock %}
